{% extends "base.html" %}
{% block content %}
    {% load static %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <h3>Admin page</h3>
                <div class="row">
                    <div class="col-md-6">
                        <img src="http://simulation.su/uploads/images/default/admin.jpg" alt="ADMIN" style="width: 250px; height: 250px"/>
                    </div>
                    <div class="col-md-6">

                        <form action="/emailing" method="get">
                            <button class="btn btn-primary" type="submit" style="width: 150px; margin-top: 50px">Send emails</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h3>All users</h3>
                {% for u in users %}
                    <p style="color: green">{{ u }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}