
{% extends "base.html" %}

{% block content %}
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-3 sidenav">

    </div>
    <div class="col-sm-7 text-left">
    <h2>Search result</h2>
      {% if courses_list %}
      <div class="container">

		{% for course in courses_list %}
		   <div class="row" style="margin-top: 10px;">
		                       <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive"  src="{{course.image}}" style="width: 300px;" >
                    </figure>
		        <div class="people-cards">
		            <div class="col-md-6" >
		                <div class="card">
		  					<div class="card-block">
							    <h4 class="card-title"><a href = '/courses/{{ course.id }}'>{{ course.name }}</a></h4>
							    <h6 class="card-subtitle mb-2 text-muted">{{ course.provider }}</h6>
							    <p class="card-subtitle mb-2 text-muted">{{ course.category }}</p>
		  					</div>
					</div>
		        	</div>
		  		</div>
			</div>

		{% endfor %}

		<ul class="pagination">
		    {% if courses_list.has_previous %}
		      <li><a href="http://127.0.0.1:8000{{request.path}}?search={{ search }}&page={{ courses_list.previous_page_number }}">&laquo;</a></li>
		    {% else %}
		      <li class="disabled"><span>&laquo;</span></li>
		    {% endif %}

		    {% for pg in page_range %}
		            {% if courses_list.number == pg %}
		                <li class="active"><a href="http://127.0.0.1:8000{{request.path}}?search={{ search }}&page={{pg}}">{{pg}}</a></li>
		            {% else %}
		                <li><a href="http://127.0.0.1:8000{{request.path}}?search={{ search }}&page={{pg}}">{{pg}}</a></li>
		            {% endif %}
		    {% endfor %}

		    {% if courses_list.has_next %}
		      <li><a href="http://127.0.0.1:8000{{request.path}}?search={{ search }}&page={{ courses_list.next_page_number }}">&raquo;</a></li>
		    {% else %}
		      <li class="disabled"><span>&raquo;</span></li>
		    {% endif %}
		</ul>
		{% else %}
	    	<p>No courses are available.</p>
		{% endif %}




    </div>

  </div>
</div>


{% endblock content %}